@page "/SeeFamily"

@using FamilyInformation.Data
@inject IFamilyService FamilyService
@inject NavigationManager NavigationManager
<h3>Members of the Family</h3>
<button class="btn btn-outline-dark" type="button" @onclick="Families" style="float:right">Back</button>
<Adults/>
<Children/>
<FamilyPets/>

@code {

    private void Families()
    {
        NavigationManager.NavigateTo("/Families");
    }

}